@mixin function(){
	background-color: red;
	cursor: pointer;
}

@for $i from 1 through 2 {
	p:nth-child(#{$i}){
		font-size: 13px;
		background-color: darken(#F8F8F8, $i * 10% );
	}
}

@import "variables";


@import "navigation";



@import "header";


@import "footer";

@import "body";

%h3{
	position: relative;
	top: 15px;
	left: 30px;
}

@import "lowerbody";

@import "rightsidebar";

@import "leftsidebar";